@import url("https://fonts.googleapis.com/css?family=Play");
@import url("https://fonts.googleapis.com/css?family=Russo One");

body {
    font-family: "Play" !important;
    color: #b6f8f0 !important;
    margin-bottom: 0 !important;
    height: 100vh;
    background: linear-gradient(
        243.18deg,
        #014b4b 0%,
        #011f4b 50.22%,
        #4b0120 100%
    );
}

#controlPanelButton > button {
    border-radius: inherit;
    border: none;
    background-color: #5e5583 !important;
    height: 36px;
    color: #b6f8f0;
}

.controlPanelAccordion::-webkit-scrollbar-thumb {
    background: none !important;
}
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}
.dx-scrollable-scroll {
    background-color: #b6f8f0 !important;
    opacity: 0.7;
    border: none;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b6f8f0;
    border-radius: 5px;
}
#classObjectList {
    padding: 10px !important;
    background-color: #cc7ed25c;
    height: 80vh;
    border-radius: 10px;
}
tr.dx-row.dx-freespace-row.dx-column-lines {
    display: none !important;
    min-height: 0px !important;
}
#ontology > div {
    background-color: inherit;
    color: inherit !important;
}

#contentCol {
    height: 80vh !important;
    color: inherit !important;
}

.relationAccordion > * {
    background-color: inherit !important;
    color: inherit !important;
}
div.dx-treelist-icon-container > div > span {
    color: #b6f8f0 !important;
}
.accordion-item {
    border: none !important;
}

.accordion-button.collapsed::after {
    margin-left: 250px;
    color: inherit !important;
}
.accordion-button::after {
    margin-left: 250px;
    color: inherit !important;
}

#controlPanelButton > button::after {
    margin-left: auto !important;
}
.relationAccordion > div > h2 > button {
    background-color: inherit !important;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-top-color: #b6f8f0 !important;
    border-bottom-color: #b6f8f0 !important;
    color: inherit !important;
    padding-left: 0;
}

.relationAccordion > div > h2 > button:only-child {
    border-top: solid 1px !important;
    /* border-top-color: #b6f8f0 !important; */
    border-bottom: solid 1px !important;
    /* border-bottom-color: #b6f8f0 !important; */
}
.relationAccordion > div > h2 > button:first-child {
    border-top: solid 1px !important;
    /* border-top-color: #b6f8f0 !important; */
    border-bottom: none !important;
}
.relationAccordion > div > h2 > button:last-child {
    border-top: none !important;
    border-bottom: solid 1px !important;
    /* border-bottom-color: #b6f8f0 !important; */
}
.dropdown-item:hover {
    background-color: #5e5583 !important ;
    color: #b6f8f0 !important;
}
.dropdown-item:focus {
    background-color: #5e5583 !important;
    color: #b6f8f0 !important;
}
.dropdown-menu.show {
    background-color: #5e5583;
    color: inherit;
}
.dropdown-toggle.nav-link {
    color: inherit;
}
.dropdown-toggle.nav-link:hover {
    color: inherit;
}
.dropdown-toggle.nav-link:focus {
    color: inherit;
}
.dropdown-toggle.show.nav-link {
    color: inherit;
}
#ontologyCol {
    border-radius: 10px;
    height: 80vh;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #cc7ed25c;
    color: inherit !important;
}
#ontology {
    font-family: inherit !important;
    color: inherit !important;
}
